<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Goldsikka.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>15.5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
				<key>dateExpires</key>
				<string>16/08/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BLTNBoard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SCLAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8BB2326BA335BF709E5A2CD0F2FEE57B34616C</string>
						<key>dateExpires</key>
						<string>16/08/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CQL2Y3CJ36</string>
						<key>name</key>
						<string>Goldsikka Jewels Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CQL2Y3CJ36.com.goldsikkajewels.goldsikka</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>CQL2Y3CJ36</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Goldsikka.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bdf44e46-c277-4b5b-be8c-4fbd2642431a</string>
				<key>dateExpires</key>
				<string>19/09/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.goldsikkajewels.goldsikka</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CQL2Y3CJ36</string>
				<key>name</key>
				<string>Goldsikka Jewels Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>2.8.4</string>
		</dict>
	</array>
</dict>
</plist>
